<!doctype html>

<html class="no-js " lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Meta -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Meta -->
<title>HANU</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/images/Hanu_logo.jpg"
	type="image/x-icon" />
<link rel="apple-touch-icon" href="/images/Hanu_logo.jpg">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"
	rel="stylesheet">

<!-- Custom & Default Styles -->
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/carousel.css">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/createNew.css">

</head>
<body>


   <!-- LOADER -->
   <!-- <div id="preloader">
        <img class="preloader" src="images/loader.gif" alt="">
    </div>end loader -->
   <!-- END LOADER -->

   <div id="wrapper">
      <!-- BEGIN # MODAL LOGIN -->
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
         aria-hidden="true" style="display: none;">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Begin # DIV Form -->
               <div id="div-forms">
                  <form id="login-form">
                     <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span class="flaticon-add" aria-hidden="true"></span>
                     </button>
                     <div class="modal-body">
                        <input class="form-control" type="text"
                           placeholder="What you are looking for?" required>
                     </div>
                  </form>
                  <!-- End # Login Form -->
               </div>
               <!-- End # DIV Form -->
            </div>
         </div>
      </div>
      <!-- END # MODAL LOGIN -->

      <header class="header header-normal" th:fragment="header">
         <div class="topbar clearfix">
            <div class="container">
               <div class="row-fluid">
                  <div class="col-md-6 col-sm-6 text-left">
                     <p>
                        <strong><i class="fa fa-phone"></i></strong> +90 543 123 45 67
                        &nbsp;&nbsp; <strong><i class="fa fa-envelope"></i></strong> <a
                           href="mailto:#">info@yoursite.com</a>
                            </p>
                            <a href = "#" th:href="@{/chat}"><i class="far fa-comments icon" >Chat room</i></a>
                  </div>
                  <div class="col-md-6 col-sm-6 hidden-xs text-right">
                     <div class="social">
                        <a class="facebook" href="#" data-tooltip="tooltip"
                           data-placement="bottom" title="Facebook"><i
                           class="fa fa-facebook"></i></a> <a class="twitter" href="#"
                           data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i
                           class="fa fa-twitter"></i></a> <a class="google" href="#"
                           data-tooltip="tooltip" data-placement="bottom"
                           title="Google Plus"><i class="fa fa-google-plus"></i></a> <a
                           class="linkedin" href="#" data-tooltip="tooltip"
                           data-placement="bottom" title="Linkedin"><i
                           class="fa fa-linkedin"></i></a> <a class="pinterest" href="#"
                           data-tooltip="tooltip" data-placement="bottom"
                                    title="Pinterest"><i class="fa fa-pinterest"></i>
                                </a>
                            </div>
                                <!-- <a href = "#"><i class="fas fa-user-graduate icon">1701040163</i></a> -->
                                <li class="dropdown yamm-fw  profile"><a href = "#"><i class="fas fa-user-graduate icon">1701040163</i></a>
                                    <ul class="dropdown-menu menu">
                                        <li>
                                            <h5>Vu Van Tung</h5>
                                            <ul class = "com">
                                            <li><a href="#" th:href="@{user/account}">Profile</a></li>
                                            <li><a href="#">Change password</a></li>
                                            <li><a href="#"th:href="@{/logout}">Logout</a></li>
                                            </ul>
                                              
                                        </li>
                                    </ul></li>
                                </a>
                               </div>
                      </div>
                        </div>
               </div>
            </div>
         </div>
         <!-- end topbar -->

         <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="../images/Hanu_logo.jpg"
               alt="" width="60" height="60"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarTogglerDemo02"
               aria-controls="navbarTogglerDemo02" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
               <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active"><a href="#" class="nav-link"
                     th:href="@{/home}">Home <span class="sr-only">(current)</span>
                  </a></li>
                  <li class="nav-item"><a href="#" class="nav-link" th:href="@{/news}">New</a></li>
                  <li class="nav-item"><a  href="#" class="nav-link" th:href="@{/contact}">Contact</a></li>
                  <li class="dropdown yamm-fw yamm-half"><a href="#"
                     data-toggle="dropdown" class="dropdown-toggle active">Mega
                        Menu <b class="fa fa-angle-down"></b>
                  </a>
                     <ul class="dropdown-menu">
                        <li>
                           <div class="yamm-content clearfix">
                              <div class="row-fluid">
                                 <div class="col-md-6 col-sm-6">
                                    <h4>Course Pages</h4>
                                    <ul>
                                       <li><a href="#">Courses Name 01</a></li>
                                       <li><a href="#">Courses Name 02</a></li>
                                       <li><a href="#">Courses Name 03</a></li>
                                       <li><a href="#">Courses Name 04</a></li>
                                       <li><a href="#">Courses Name 05</a></li>
                                       <li><a href="#">Courses Name 06</a></li>
                                       <li><a href="#">Courses Name 07</a></li>
                                       <li><a href="#">Courses Name 08</a></li>
                                       <li><a href="#">Courses Name 09</a></li>
                                    </ul>
                                 </div>
                                 <div class="col-md-6 col-sm-6">
                                    <div class="menu-widget text-center">
                                       <div class="image-wrap entry">
                                          <img src="upload/course_01.jpg" alt=""
                                             class="img-responsive">
                                          <div class="magnifier">
                                             <a href="#" title=""><i class="flaticon-add"></i></a>
                                          </div>
                                       </div>
                                       <!-- end image-wrap -->
                                       <h5>
                                          <a href="#">Learning Bootstrap Framework</a>
                                       </h5>
                                       <small>$22.00</small> <a href="#" class="menu-button">View
                                          Course</a>
                                    </div>
                                    <!-- end widget -->
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul></li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search"
                     placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </form>
            </div>
         </nav>
      </header>
            <section class="section db p120">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tagline-message page-title text-center">
                                <h3>Post News</h3>
                                <ul class="breadcrumb">
                                    <li><a href="javascript:void(0)">HANU</a></li>
									<i class="fas fa-newspaper" id = "icon-book"></i>
									<p>Sharing</p>
                                </ul>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->
		</header>
	<div class="inner contact">
		<!-- Form Area -->
		<div class="contact-form">
			<!-- Form -->
			<form id="contact-us" th:action="@{/createNew}" th:object="${news}" method="POST">
				<!-- Left Inputs -->
				<div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
					<!-- Name -->
					<input type="text" name="name" id="name" required="required"
						class="form" placeholder="Title" th:field="*{title}"/>
					<!-- Summary -->
					 <input type="text" name="summary" id="summary" required="required"
						class="form" placeholder="Summary" th:field="*{summary}"/>
					<!-- Subject -->
					<input type="text" name="subject" id="subject" required="required"
						class="form" placeholder="Subject" th:field="*{subject}" />
				</div>
				<!-- End Left Inputs -->
				<!-- Right Inputs -->
				<div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
					<!-- Message -->
					<textarea name="message" id="message" class="form textarea"
						placeholder="New" th:field="*{content}"></textarea>
				</div>
				<!-- End Right Inputs -->
				<!-- Bottom Submit -->
				<div class="relative fullwidth col-xs-12">
					<!-- Send Button -->
					<button type="submit" id="submit" name="submit"
						class="form-btn semibold">Send New</button>
				</div>
				<!-- End Bottom Submit -->
				<!-- Clear -->
				<div class="clear"></div>
			</form>
		</div>
		<!-- End Contact Form Area -->
	</div>
	<footer class="section footer noover" th:fragment="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="widget clearfix">
							<h3 class="widget-title">Subscribe Our Newsletter</h3>
							<div class="newsletter-widget">
								<p>
									You can opt out of our newsletters at any time.<br> See
									our <a href="#">privacy policy</a>.
								</p>
								<form class="form-inline" role="search">
									<div class="form-1">
										<input type="text" class="form-control"
											placeholder="Enter email here..">
										<button type="submit" class="btn btn-primary">
											<i class="fa fa-paper-plane-o"></i>
										</button>
									</div>
								</form>
								<img src="images/payments.png" alt="" class="img-responsive">
							</div>
							<!-- end newsletter -->
						</div>
						<!-- end widget -->
					</div>
					<!-- end col -->

					<div class="col-lg-3 col-md-3">
						<div class="widget clearfix">
							<h3 class="widget-title">Join us today</h3>
							<p>Would you like to earn your profits by joining our team?
								Join us without losing time.</p>
							<a href="#" class="readmore">Became a Teacher</a>
						</div>
						<!-- end widget -->
					</div>
					<!-- end col -->

					<div class="col-lg-3 col-md-3">
						<div class="widget clearfix">
							<h3 class="widget-title">Popular Tags</h3>
							<div class="tags-widget">
								<ul class="list-inline">
									<li><a href="#">course</a></li>
									<li><a href="#">web design</a></li>
									<li><a href="#">development</a></li>
									<li><a href="#">language</a></li>
									<li><a href="#">teacher</a></li>
									<li><a href="#">speaking</a></li>
									<li><a href="#">material</a></li>
									<li><a href="#">css3</a></li>
									<li><a href="#">html</a></li>
									<li><a href="#">learning</a></li>
								</ul>
							</div>
							<!-- end list-widget -->
						</div>
						<!-- end widget -->
					</div>
					<!-- end col -->

					<div class="col-lg-2 col-md-2">
						<div class="widget clearfix">
							<h3 class="widget-title">Support</h3>
							<div class="list-widget">
								<ul>
									<li><a href="#">Terms of Use</a></li>
									<li><a href="#">Copyrights</a></li>
									<li><a href="#">Create a Ticket</a></li>
									<li><a href="#">Pricing & Plans</a></li>
									<li><a href="#">Carrier</a></li>
									<li><a href="#">Trademark</a></li>
								</ul>
							</div>
							<!-- end list-widget -->
						</div>
						<!-- end widget -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</footer>
		<!-- end footer -->

		<div class="copyrights">
			<div class="container">
				<div class="clearfix">
					<div class="pull-left">
						<div class="cop-logo">
							
						</div>
					</div>

					<div class="pull-right">
						<div class="footer-links">
							<ul class="list-inline">
								<li>Design : TungVu</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end container -->
		</div>
		<!-- end copy -->
	</div>
	<!-- end wrapper -->

	<!-- jQuery Files -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
</body>
<!-- End Inner -->
</html>