<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title>reset</title>
</head>
<body>
<div class="container">
		<hr>
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="text-center">
									<h3>
										<i class="fa fa-lock fa-4x"></i>
									</h3>>Forgot Password?</h2>
									<p>You can reset your password here.</p>
									<div class="panel-body">

										<form class="form">
											<fieldset>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="glyphicon glyphicon-envelope color-blue"></i></span> <input
															id="email" name="email" placeholder="email address"
															class="form-control" type="email"
															oninvalid="setCustomValidity('Please enter a valid email address!')"
															onchange="try{setCustomValidity('')}catch(e){}"
															required="">
													</div>
												</div>
												<div class="form-group">
													<input class="btn btn-lg btn-primary btn-block"
														value="Send My Password" type="submit">
												</div>
											</fieldset>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		resetPass(event);
    });
});

function resetPass(event){
    event.preventDefault();	
    var email = $("#email").val();
    $.post(serverContext + "resetPassword",{email: email} ,function(data){
            window.location.href = serverContext + "login?message=" + data.message;
    })
    .fail(function(data) {
    	if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
    });
}

$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
</script>
</body>

</html>
